extends layout

include _includes/sharedHTMLfunctions

block content
    .row.banner 
        .col-12 
            h1= pageHeader.title 
            small &nbsp; #{pageHeader.strapline}
    .row 
        .col-12.col-md-8
            each location in locations 
                .card.mt-4.mb-4 
                    .card-body 
                        h4.card-title
                            a(href=`/location/${location._id}`) #{location.name} 
                            small &nbsp;
                                +outputRating(location.rating)
                            span.badge.badge-pill.badge-secondary.float-right #{location.distance}
                        p.card-text= location.address
                        .facilities
                            each facility in location.facilities 
                                span.badge.badge-warning= facility
        .col-12.col-md-4 
            p.lead Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for