extends layout

include _includes/sharedHTMLfunctions

block content
    .row.banner 
        .col-12 
            h1 #{location.name} 
    .row 
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p
                        +outputRating(location.rating)
                    p #{location.address}
                    each openingTimes in location.openingTimes
                        .card.card-primary
                            .card-body 
                                h2.card-title #{openingTimes.days} 
                                p.card-text #{openingTimes.opening} - #{openingTimes.closing}
                                if !openingTimes.closed
                                    p.card-text Open today
                                else
                                    p.card-text Closed today
                    .card.card-primary
                    .card-body 
                        h2.card-title Facilities 
                        each facility in location.facilities
                            span.badge.badge-warning #{facility}
                .col-12.col-md-6 
                    .card.card-primary 
                        .card-body  
                            h2.card-title Location Map #{location.coords}
                            img(src="https://placehold.co/200x200")
            .row 
                .col-12
                        .card.card-primary 
                            .card-body
                                h2.card-title Customer reviews
                                    a.btn.btn-secondary.float-right(href=`/location/${location._id}/review/new`) Add Review
                                each review in location.reviews
                                    p.card-text
                                        span 
                                            +outputRating(review.rating)
                                        span #{review.author} 
                                        span.date #{review.date}
                                    p.card-text #{review.text}
        .col-12.col-lg-3 
            p #{location.name} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
            p If you've been and you like it or if you don't, please leave a review to help other people just like you.
                       